{% extends "layout.html" %}
{% block content %}
<!-- page to view all the food carts -->
<h3>Food Carts</h3>
	<a href="{{ url_for('index')}}"><button  class="my-btn" 
		style="margin-bottom: 25px;">Back</button></a>
    {% for i in foodcart %}
		<div class="foodcart-card">
		<h4>{{ i.name }} </h4>
		<hr>
		<p>Address: {{i.address }} {{i.city}} {{i.state}} {{i.zipcode}} </p>
		<p>Store Hour: {{i.hour}}</p>
		<p>Phone Number: {{i.phone}}</p>
		<p>Ratings: {{i.rating}}</p>
		</div>
	{% endfor %}
<a href="{{ url_for('index')}}"><button  class="my-btn">Back</button></a>

{% endblock %}